<!-- views/index.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livraria</title>
  <style>
   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #DFDBE5; /* Removido o background color */
   }

   .top-nav {
    background-color: #007bff;
    padding: 10px 0;
    text-align: center;
   }

   .top-nav .logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("https://i.ibb.co/L9xpQ3m/pilha-de-livros.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
   }

   .top-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
   }

   .login {
    float: right;
    margin-top: 15px;
   }

   .login a {
    color: #fff;
    text-decoration: none;
   /* padding: 5px 10px;
    background-color: #343a40;  Cor de fundo para o botão de login */
    border-radius: 5px;
   }

   .login a:hover {
    background-color: #6c757d; /* Cor de fundo para o botão de login quando hover */
   }

   .bottom-nav {
    background-color: #f8f9fa;
    text-align: center;
   }

   .bottom-nav a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
   }

   h1 {
    text-align: center;
    margin-bottom: 20px;
   }

   form {
    background-color: #ffffff;
    width: 300px; /* Reduzindo a largura do formulário */
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

   label {
    display: block;
    margin-bottom: 10px;
   }

   input[type="text"] {
    width: calc(100% - 30px); /* Reduzindo a largura do input */
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
   }

   input[type="radio"] {
    margin-right: 5px;
   }

   button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
   }

   .livros {
    margin-top: 20px;
   
    border-radius: 5px;
    padding: 20px;
   
   }

   ul {
    list-style-type: none;
    padding: 0;
   }

   li {
    margin-bottom: 5px;
   }
  </style>
</head>
<body>
  <div class="top-nav">
    <div class="logo"></div>
    <ul class="login">
      <li><a href="#">Login</a></li>
    </ul>
  </div>

  <div class="bottom-nav">
    <a href="#">Início</a>
    <a href="#">Quem Somos</a>
    <a href="#">Livros</a>
    <a href="#">Literatura</a>
    <a href="#">Destaques</a>
    <a href="#">Contato</a>
    <a href="#">Auto Ajuda</a>
  </div>

  <h1>Livraria</h1>
  <form action="/livros/buscar" method="GET">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo"><br>
    <input type="radio" id="tipo-titulo" name="tipo" value="titulo" checked>
    <label for="tipo-titulo">Buscar por título</label><br>
    
    <label for="ano">Ano:</label>
    <input type="text" id="ano" name="ano"><br>
    <input type="radio" id="tipo-ano" name="tipo" value="ano">
    <label for="tipo-ano">Buscar por ano</label><br>
    
    <button type="submit">Buscar</button>
  </form>
  
  <div class="livros">
    <% if (livros && livros.length > 0) { %>
      <ul>
        <% livros.forEach(livro => { %>
          <li><%= livro.titulo %> - <%= livro.autor %> (<%= livro.ano %>)</li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>Nenhum livro encontrado.</p>
    <% } %>
  </div>
</body>
</html>
